.image-container{
    position: relative; 
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

body{
    background-color: rgb(184, 216, 166);
}

#testChart {
    display: block;
    margin: 30px auto;
    width: 90vw;
    height: 50vh;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

h1{
    justify-content: center;
    font-size:xx-large;
    font: arial;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire screen */
    display: block;
}

#r1bg{
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    overflow: hidden;
    align-self: auto;
    justify-content: center;
    z-index: 0;
  
}

.dot-button {
    position: absolute;
    width: 10px;
    height: 12px;
    background-color: rgba(255, 0, 0, 0.8); /* Red color with transparency */
    border: none;
    border-radius: 50%; /* Makes it circular */
    cursor: pointer;
}
.dot-button:hover {
    background-color: rgb(255, 0, 0); /* Solid color on hover */
}

.button-container {
    position: absolute;
    display: inline-block;
}

#button1{
    top: 90%; left: 50%;
}
#USA{
    top: 30%; left: 15%
}
#China{
    top: 33%; left: 72%
}
#Brazil{
    top: 68%; left: 26%;
}
#Russia{
    top: 17%; left: 68%;
}
#Australia{
    top: 77%; left: 82%;
}
#RestOfWorld{
    top: 75%; left: 63%;
}
#Cananda{
    top: 17%; left: 13%;
}
#Spain{
    top: 31%; left: 40.5%;
}
#France{
    top: 25.5%; left: 42%;
}

.textbox {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
}

.button-container:hover .textbox {
    display: block;
}

.slidecontainer{
    width: 20%;
    height: auto;
    position: absolute;
    float:right;
    right: 20px;
    top: 15%;
    display: flex;
    /*transform: translateY(-50%);*/
    flex-direction: column;
    gap: 15px;
    z-index: 3;
}

.slider {
    width: 100%;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px; /* Space between sliders */
}

.sliderred{
    background: red;
}

.sliderblue {
    background: blue;
}

.slidergreen{
    background: green;
}

.accentred{
    accent-color: red;
}
.accentblue{
    accent-color: blue;
}

.accentgreen{
    accent-color: green;
}
